body {
    background-color: #161616;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    transition: 0.5s;
}

main {
    width: 80%;
    text-align: center;
    margin: 50px 0;
}

p {
    color: #E8E8E8;
    font-family: lato;
}

button {
    padding: 10px 40px;
    margin-bottom: 10px;
    color: #ffffff;
    border: none;
    background-color: #A4810D;
    font-family: lato;
    font-size: 1.3rem;
    font-weight: 400;
    border: 1px solid #A4810D;
    transition: 0.4s;
    cursor: pointer;
    width: 200px;
}

.bouton:hover {
    background-color: #161616;
}

.bouton:active {
    scale: 0.7;
}

img {
    margin-bottom: 10px;
}

#presentationHaaland {
    transition: 0.5s;
    height: 0;
    overflow: hidden;
}

#presentationDebruyne {
    transition: 0.5s;
    height: 0;
    overflow: hidden;
}

#presentationSalah {
    transition: 0.5s;
    height: 0;
    overflow: hidden;
}